# Energy Time Series Forecasting

## Introduction

Prédiction de la consommation d’énergie du business groupe dans Alesund à partir des données historiques.

## Import des bibliothèques

In [3]:
import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from torch.utils.data import DataLoader, TensorDataset

## Chargement des données

In [4]:
df_alesund_data = pd.read_csv("meteo_consump_alesund_data.csv")  
df_alesund_data.head()

,Consumption_group_Ålesund,VOLUME_KWH,METERINGPOINT_COUNT,Date,wind_speed,t2m_C,surface_pressure
0,private,57961.562,27060,2021-01-01 00:00:00,2.798005,1.68923,98874.56
1,industry,13558.855,1029,2021-01-01 00:00:00,2.798005,1.68923,98874.56
2,business,30582.870,3784,2021-01-01 00:00:00,2.798005,1.68923,98874.56
3,private,56258.645,27060,2021-01-01 01:00:00,2.630726,1.32168,98905.06
4,industry,13649.810,1029,2021-01-01 01:00:00,2.630726,1.32168,98905.06

## Filtrage des données de business groupe

In [7]:
# Filtrer pour ne garder que les lignes où la colonne est égale à "business"
df_business_consumption= df_alesund_data[df_alesund_data['Consumption_group_Ålesund'] == 'business']

# Supprimer la colonne après le filtrage
df_business_consumption = df_business_consumption.drop(columns=['Consumption_group_Ålesund'])
df_business_consumption=df_business_consumption.reset_index(drop=True)
df_business_consumption.head()

,VOLUME_KWH,METERINGPOINT_COUNT,Date,wind_speed,t2m_C,surface_pressure
0,30582.870,3784,2021-01-01 00:00:00,2.798005,1.68923,98874.560
1,30352.254,3784,2021-01-01 01:00:00,2.630726,1.32168,98905.060
2,30774.594,3784,2021-01-01 02:00:00,2.387332,1.01553,98930.625
3,30846.584,3784,2021-01-01 03:00:00,1.984651,0.77847,98928.000
4,31745.682,3784,2021-01-01 04:00:00,1.515596,0.66543,98949.560